.navbar{
    background-color: rgb(35, 113, 147);
    display: flex;
     justify-content: flex-end;
    
}
a{
    margin-left: 20px; 
    text-decoration: none;
    color: white;
}
.about{
    background-color: chocolate;
}
.cards{
    display:flex;
    justify-content: center;
}
.card1{

   text-align: center;
}
.card2{

   text-align: center;
}
.card3{

   text-align: center;
}
img{
    height: 200px;
width: 200px;
}
/*Tablet View*/
@media  (max-width:800px) {
  .about{
    background-color: burlywood;
  }
  .navbar{
    background-color: chartreuse;
  }
  .cards{
    display:block;
    
  }
}
 /*Mobile View*/
 @media (max-width:600px) and (min-width:300px){
    .navbar{
        background-color: blueviolet;
        display: flex;
        flex-direction: column;
        align-items: center;
      
    }
    a{
        border: 5px solid black;
        padding:10px;
        border-radius: 10px;
    }
    img{
        margin: 10px;
    }
    .cards{
        background-color: aqua;
        
        
    }
    .card1{
        border: 10px solid pink;
        margin-bottom: 20px;
    }
     .card2{
        border: 10px solid pink;
        margin-bottom: 20px;
    }
     .card3{
        border: 10px solid pink;
        margin-bottom: 20px;
    }
 }